<div class="col-md-8 text-light">
  <% if users.exists? %>
    <div class='box8 scroll'>
      <table class="table text-white text-center">
        <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>投稿数</th>
            <th>フォロー </th>
            <th>フォロワー</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td class="follow" onclick='window.location="<%= user_path(user.id) %>"' role="link"><%= image_tag user.get_profile_image(30,30), class:"rounded-circle"; %></td>
              <td class="follow" onclick='window.location="<%= user_path(user.id) %>"' role="link"><%= user.name %></td>
              <td class="follow" onclick='window.location="<%= user_path(user.id) %>"' role="link"><%= user.post_images.count %></td>
              <td class="follow follow_count<%= user.id %>" onclick='window.location="<%= user_followings_path(user.id) %>"' role="link">
                <%= render 'public/relationships/follow_count', user: user %>
              </td>
              <td class="follow follower_count<%= user.id %>" onclick='window.location="<%= user_followers_path(user.id) %>"' role="link">
                <%= render 'public/relationships/follower_count', user: user %>
              </td>
              <td id="follow_buttons_<%= user.id %>">
                <% if current_user.email == "guest@exp.com" %>
                  <div class="btn btn-outline-success text-light">フォローする</div>
                <%else%>
                  <%= render 'public/relationships/relationships', user: user %></td>
                <%end%>
              <td>
                <% if user != current_user %>
                  <% if current_user.has_room?(user) %>
                    <div><%= link_to "ダイレクトメッセージ", room_path(current_user.get_room(user)), method: :get, class:"text-light btn btn-outline-success" %></div>
                  <% else %>
                    <%= form_with model: Room.new, method: :post, local: true do |f|%>
                      <%= f.hidden_field :user_id, value: user.id %>
                      <div><%= f.submit "D Mを始める", class:"text-light btn btn-outline-success" %></div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>

</div>
