<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header' %>
    <div class= "row">
      <div class="col-md-3 text-center text-white mt-4">
        <%= render 'public/users/profile', user: current_user %>
      </div>

      <div class="col-md-5 text-white mt-2">
        <div class="d-flex">
          <h3 class="ml-2 pr-5">検索結果</h3>
          <div><%= paginate @search_post_images, theme: 'bootstrap-5' %></div>
        </div>
        <%= render 'list', post_images: @search_post_images %>
      </div>
    </div>

  </div>
</div>