<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header', current_user: current_user %>
    <div class= "row">
      <div class="col-md-3 text-center text-white mt-4">
        <%= render 'public/users/profile', user: @user %>
      </div>

      <div class="col-md-6 text-white mt-1 mb-1">
        <h3 class="ml-5">投稿詳細</h3>
        <div class="card" style="height: 650px;">
          <div class="images">
            <% @post_image.image.each do |image|%>
              <%= image_tag image, class: 'card-img-top' %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="row" id="post_comment_form_<%= @post_image.id %>">
              <%= render "public/post_comments/post_comments", post_image: @post_image, post_comment: @post_comment %>
            </div>
          </div>
          <h5 class="card-footer">
              <%= image_tag @post_image.user.get_profile_image(30,30), class:"rounded-circle"; %>
              <%= link_to @post_image.user.name, user_path(@user), class:"text-dark" %>
          </h5>
        </div>
      </div>

      <div class="col-md-3 mt-5">
        <div class="card mb-4 mr-2" style="height: 650px;">
          <div class="card-header">
            <h4 class="card-title"><%= @post_image.title %></h4>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class='box6 scroll'>
                <p class="card-text"><%=safe_join(@post_image.body.split("\n"),tag(:br)) %></p>
              </div>
              <footer class="blockquote-footer">投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></footer>
              <footer class="blockquote-footer">編集日：<%= @post_image.updated_at.strftime('%Y/%m/%d') %></footer>
            </blockquote>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center">
              <div id="favorite_buttons_<%= @post_image.id %>" class="mr-4">
                <%= render "public/favorites/favorite", post_image: @post_image %>
              </div>
              <div class="mr-3">
                <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【#{ @post_image.user.name }の投稿をシェア】%0a%0a#{ @post_image.title }%0a%0a%23CAMB%20%23キャンプ%20%23キャンプライフ%0a気になったら見てね！", target: '_blank' do %>
                  <i class="fab fa-twitter" style='color: #3399FF;'></i>シェア
                <% end %>
              </div>
              <% if @post_image.user == current_user %>
                <div class=""><%= link_to "削除", post_image_path(@post_image), method: :delete, "data-confirm" => "本当に削除しますか？", class:"text-danger btn btn-outline-success mr-4" %></div>
                <div class=""><%= link_to "編集", edit_post_image_path(@post_image.id), class:"text-dark btn btn-outline-success" %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>