<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header', current_user: current_user %>
    <div class= "row">
      <div class="col-md-3 text-center text-white mt-4" style="z-index: 100;">
        <%= render 'public/users/profile', user: @current_user %>
      </div>
      <div class="col-md-9 text-white mt-4">
        <h3 class="ml-2">DM一覧</h3>
        <% if @rooms.exists? %>
          <div class='box5 scroll'>
            <table border="1" rules="rows" width="1000px">
              <thead>
                <tr>
                  <th width="25%">名前</th>
                  <th width="25%">日時</th>
                  <th width="50%">最新メッセージ</th>
                </tr>
              </thead>
              <tbody>
                <% @rooms.each do |room| %>
                  <tr height="50px">
                    <td width="25%">
                      <%= link_to user_path(room.users.where.not(id: current_user.id)[0].id), class:"text-white" do %>
                        <%= image_tag room.users.where.not(id: current_user.id)[0].get_profile_image(30,30), class:"rounded-circle"; %><%= room.users.where.not(id: current_user.id)[0].name %>
                      <% end %>
                    </td>
                    <td class="room-index" onclick='window.location="<%= room_path(room.id) %>"' role="link" width="25%">
                      <div><%= link_to room.messages.last&.created_at&.strftime("%Y-%m-%d %H:%M") || "-" %></div>
                    </td>
                    <td class="room-index" onclick='window.location="<%= room_path(room.id) %>"' role="link" width="50%">
                      <div class="dm"><%= link_to room.messages.last&.body || "ルームだけが存在しています" %></div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p>DMの履歴はございません。</p>
        <% end %>
      </div>

    </div>

  </div>
</div>