<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">
    <%= render 'public/homes/header', current_user: current_user %>
    <div class= "row">
      <div class="col-md-3 text-center text-white mt-2"></div>
      <div class="col-md-5 text-white mt-4">
        <h3 class="ml-2">DM一覧</h3>
      </div>
      <div class="col-md-4 text-white mt-2">
      </div>
    </div>

    <div class= "row">
      <%= render 'public/users/profile', user: @current_user %>

      <div class="col-md-9 text-white mt-2">
        <div class='box5 scroll'>
          <table border="1" rules="rows" width="1000px">
            <thead>
              <tr>
                <th width="20%">名前</th>
                <th width="20%">日時</th>
                <th class="text-truncate" width="60%">最新メッセージ</th>
              </tr>
            </thead>
            <tbody>
              <% @rooms.each do |room| %>
                <tr height="50px">
                  <td>
                    <%= link_to user_path(room.users.where.not(id: current_user.id)[0].id), class:"text-white" do %>
                      <%= image_tag room.users.where.not(id: current_user.id)[0].get_profile_image(30,30), class:"rounded-circle"; %><%= room.users.where.not(id: current_user.id)[0].name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to room.messages.last.created_at.strftime("%Y-%m-%d %H:%M"), room_path(room.id), class:"text-white" %>
                  </td>
                  <td>
                    <%= link_to room.messages.last.body, room_path(room.id), class:"text-white text-truncate" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>