<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header', current_user: current_user %>
    <div class= "row text-white">

      <%# @RoomUsers.each do |r| %>
        <div class="col-md-3 text-center text-white mt-5">
          <%= render 'public/users/profile', user: current_user %>
        </div>
        <div class="col-md-3 text-center text-white mt-5">
          <%= render 'public/users/profile', user: @another_user %>
        </div>
      <% #end %>

      <div class="chats col-md-5">
        <h1 class="mt-4 text-center mb-3"><%= @another_user.name %>さんとの D M</h1>

          <div class='box4 scroll'>
            <% if @messages.present? %>
              <% @messages.each do |m| %>
                <div class="chat-box ">
                  <div class="chat-text">
                    <table width="680px" class="mb-3">
                      <tr>
                        <td width="17%"><%= m.user.name %></td>
                        <td width="83%"><%= m.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><%=safe_join( m.body.split("\n"),tag(:br)) %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>メッセージはまだありません</p>
            <% end %>
          </div>

          <div class="text-center text-white mt-4">
            <%= form_with model: @message, url: room_messages_path(params[:id]), local: true do |f| %>
              <%= f.text_area :body, placeholder: "メッセージを入力してください", class: "bg-transparent border border-white text-white", size: "50x4" %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
      </div>
    </div>

  </div>
</div>