<%= stylesheet_link_tag "users", :media => "all" %>
<div class= "header" style="font-family: serif;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" style="z-index: 100;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarNavDropdown">
        <ul class="navbar-nav" style="z-index: 100;">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= link_to root_path, class:"text-decoration-none" do %>
                <div class="hed-text text-light"><%= image_tag 'camb_hedlogo5.png', size: '45x45', class:"mb-4" %>CAMB<%= image_tag 'camb_hedlogo4.png', size: '45x45', class:"mb-4" %></div>
              <% end %>
            </a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "マイページ", user_path(current_user.id), class:"btn btn-outline-success text-light ml-5" %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "　D M　", rooms_path, class:"btn btn-outline-success text-light ml-5" %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to '　新規投稿　', new_post_image_path, class:"btn btn-outline-success text-light ml-5" %></a>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-success mr-3 text-light" %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "　投稿一覧　", admin_post_images_path, class:"btn btn-outline-success mr-3 text-light" %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "ユーザ一覧", admin_users_path, class:"btn btn-outline-success text-light" %></a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "新規登録", new_user_registration_path, class:"text-light btn btn-outline-success ml-5" %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "ログイン", new_user_session_path, class:"text-light btn btn-outline-success ml-5" %></a>
            </li>
          <% end %>

          <li class="nav-item">
            <a class="nav-link" href="#"><%= link_to 'ABOUT', about_path, class:"btn btn-outline-success text-light ml-5" %></a>
          </li>

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-outline-success text-white ml-5 mt-3 " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                投稿表示を変える
              </a>
              <div class="dropdown-menu z-index-2" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item"><%= link_to "　新着投稿　", post_images_path, class:"btn btn-outline-success text-dark ml-4" %></a>
                <a class="dropdown-item"><%= link_to 'イイね多い順', post_images_favorite_path, class:"btn btn-outline-success text-dark ml-4" %></a>
                <% if current_user.email == 'guest@exp.com' %>
                  <a class="dropdown-item"><div class="guesttexst">以下2項目は登録済み<br>であれば閲覧可能</div><div class="btn btn-outline-success text-dark">イイねした投稿</div></a>
                  <a class="dropdown-item"><div class="btn btn-outline-success text-dark">フォローユーザの投稿</div></a>
                <% else %>
                  <a class="dropdown-item"><%= link_to 'イイねした投稿', users_favorites_path, class:"btn btn-outline-success text-dark ml-4" %></a>
                  <a class="dropdown-item"><%= link_to 'フォローユーザの投稿', users_follow_path, class:"btn btn-outline-success text-dark ml-4" %></a>
                <% end %>
               </div>
            </li>
          <% elsif admin_signed_in? %>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to 'ゲストログイン（閲覧）', users_guest_sign_in_path, method: :post, class:"text-light btn btn-outline-success ml-1 mt-3" %></a>
            </li>
          <% end %>
        </ul>
      </div>

    </nav>

</div>