<%= stylesheet_link_tag "users", :media => "all" %>
<div class= "hedder">
  <div class= "row">
    <div class="col-md-4 text-center text-white pl-5 mt-3 d-flex">
      <div class=""><%= link_to "マイページ", user_path(current_user.id), class:"btn btn-outline-success text-light ml-1" %></div>
      <div class=""><%= link_to "D M", rooms_path, class:"btn btn-outline-success text-light ml-5" %></div>
      <div class=""><%= link_to '　新規投稿　', new_post_image_path, class:"btn btn-outline-success text-light ml-5" %></div>
    </div>
    <div class="col-md-4 text-center text-white">
      <%= link_to root_path, class:"text-decoration-none" do %>
        <div class="d-flex justify-content-center">
          <div class="logo-1"><%= image_tag 'camb_hedlogo5.png', size: '70x70' %></div>
          <div class="hed-text text-white">CAMB</div>
          <div class="logo-1"><%= image_tag 'camb_hedlogo4.png', size: '70x70' %></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-1 text-center text-white mt-3 d-flex">
      <div><%= link_to 'ABOUT', about_path, class:"btn btn-outline-success text-light" %></div>
    </div>

    <div class="col-md-2 text-center text-white text-right d-flex">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <nav>
          <ul class="z-index-2 nav navbar-nav navbar-right">
            <li class="dropdown mb-3">
              <a href="#" class="dropdown-toggle btn btn-outline-success text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">投稿表示を変える</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><%= link_to "　新着投稿　", post_images_path, class:"btn btn-outline-success text-dark" %></li>
                <li class="dropdown-item"><%= link_to 'イイねした投稿', users_favorites_path, class:"btn btn-outline-success text-dark" %></li>
                <li class="dropdown-item"><%= link_to 'イイね多い順', post_images_favorite_path, class:"btn btn-outline-success text-dark" %></li>
                <li class="dropdown-item"><%= link_to 'フォローユーザの投稿', users_follow_path, class:"btn btn-outline-success text-dark" %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>


  </div>
</div>