<%= stylesheet_link_tag "homes", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <div class= "row">

      <div class="col-md-4 text-center text-white" style="margin-top:150px">
        <% unless signed_in? %>
          <div class="top-left"><%= link_to "キ", new_admin_session_path, class:"text-white text-decoration-none" %>ャンプを楽しむ仲間がいる。<br>山 、川 、森 、</br>知らない場所が無限にある。<br>楽しむ方法が無限にある。</br>知らない世界がここにある。</div>
        <% else %>
          <div class="top-left">キャンプを楽しむ仲間がいる。<br>山 、川 、森 、</br>知らない場所が無限にある。<br>楽しむ方法が無限にある。</br>知らない世界がここにある。</div>
        <% end %>
      </div>

      <div class="col-md-4 text-center text-white">
        <%= link_to about_path do %>
          <div class="logo-1"><%= image_tag 'logo3.png', size: '400x400' %></div>
        <% end %>
        <div class="top-english">CAMB is like a club where everyone gets together.<br> And share their camp life with each other. <br>Enjoy yourselves to the fullest!</div>
      </div>

      <div class="col-md-4 text-white">
        <% if user_signed_in? %>
          <div class="top-right1" style="">ようこそ</div>
          <div class="top-right2" style="">新しい景色へ</div>
        <% elsif admin_signed_in? %>
          <div class="top-right1" style="">管理者の</div>
          <div class="top-right2" style="">ページです</div>
        <% else %>
          <div class="top-right1" style="">さあ、行こう</div>
          <div class="top-right2" style="">知らない世界へ</div>
        <% end %>
      </div>

    </div>

    <div class= "row">

      <div class="col-md-4"></div>
      <div class="col-md-5 text-center d-flex" style="margin-top:20px">
        <div class="top-btn text-center">
          <% if user_signed_in? %>
          <div class="d-flex text-center">
            <div class=""><%= link_to '投稿フォーム', new_post_image_path, class:"text-light text-center btn btn-outline-success" %></div>
            <div class=""><%= link_to 'マイページ', user_path(current_user.id), class:"text-light text-center btn btn-outline-success ml-2" %></div>
            <div class=""><%= link_to "　投稿一覧　", post_images_path, class:"text-light text-center btn btn-outline-success ml-2" %></div>
            <div class=""><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-light text-center btn btn-outline-success ml-2" %></div>
          </div>
          <% elsif admin_signed_in? %>
          <div class="d-flex text-center">
            <div class=""><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"text-light btn btn-outline-success mr-3 ml-5" %></div>
            <div class=""><%= link_to "ユーザ一覧", admin_users_path, class:"text-light btn btn-outline-success mr-3" %></div>
            <div class=""><%= link_to "投稿一覧", admin_post_images_path, class:"text-light btn btn-outline-success" %></div>
          </div>
          <% else %>
          <div class="d-flex text-center">
            <div class=""><%= link_to "新規登録", new_user_registration_path, class:"text-light btn btn-outline-success mr-4" %></div>
            <div class=""><%= link_to "ログイン", new_user_session_path, class:"text-light btn btn-outline-success mr-4" %></div>
            <div class=""><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"text-light btn btn-outline-success" %></div>
          </div>
          <% end %>
          <div class="text-light text-center"><%= flash[:notice] %></div>
        </div>
      </div>

      <div class="col-md-3"></div>
    </div>

    <div class= "row">
        <div class="col text-center text-white" style="margin-top:40px">
          <div class="top-bottom-font">ここでみんなのキャンプを知り、自分だけのキャンプを知ってもらおう。</h2>
        </div>
    </div>

  </div>
</div>

