<%= stylesheet_link_tag "homes", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <div class= "row">
      <div class="col-md-4 text-center text-white" style="margin-top:150px">
        <div class="top-left">キャンプを楽しむ仲間がいる。<br>山 、川 、森 、</br>知らない場所が無限にある。<br>楽しむ方法が無限にある。</br>知らない世界がここにある。</div>
      </div>
      <div class="col-md-4 text-center text-white">
        <div class="logo-1"><%= image_tag 'logo3.png', size: '400x400' %></div>
        <div class="top-english">CAMB is like a club where everyone gets together.<br> And share their camp life with each other. <br>Enjoy yourselves to the fullest!</div>
      </div>
      <div class="col-md-4 text-white">
        <div class="top-right1" style="">さあ、行こう</div>
        <div class="top-right2" style="">知らない世界へ</div>
      </div>
    </div>
    <div class= "row">
      <div class="col text-center" style="margin-top:20px">
        <div class="top-btn">
          <% if user_signed_in? %>
            <div class="btn btn-outline-success mr-3"><%= link_to '投稿フォーム', new_post_image_path, class:"text-light" %></div>
            <div class="btn btn-outline-success mr-3"><%= link_to 'マイページ', user_path(current_user.id), class:"text-light" %></div>
            <div class="btn btn-outline-success"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-light" %></div>
          <% else %>
            <div class="btn btn-outline-success mr-4"><%= link_to "新規登録", new_user_registration_path, class:"text-light" %></div>
            <div class="btn btn-outline-success"><%= link_to "ログイン", new_user_session_path, class:"text-light" %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class= "row">
        <div class="col text-center text-white" style="margin-top:40px">
          <div class="top-bottom-font">ここでみんなのキャンプを知り、自分だけのキャンプを知ってもらおう。</h2>
        </div>
    </div>

  </div>
</div>

