<div class="col-md-2">
  <h6 class="card-title">コメント欄　<%= post_image.post_comments.count %>件</h6>
</div>
<div class="col-md-6 d-flex">
  <div class='box scroll'>
    <% post_image.post_comments.each do |post_comment| %>
      <div><%= image_tag post_comment.user.get_profile_image(30,30), class:"rounded-circle"; %>
        <%= post_comment.user.name %>　<%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, remote: true %>
        <% end %>
      </div>
      <div>–　<%= post_comment.comment %></div>
    <% end %>
  </div>
</div>
<div class="col-md-4">
  <%= form_with model: [post_image, post_comment], local: false do |f| %>
    <%= f.text_area :comment, size: "20x2", placeholder: "コメントを入力" %>
    <% if current_user.email == 'guest@exp.com' %>
      <div class="btn btn-light textdark btn-sm">送信する</div>
    <% else %>
      <%= f.submit "送信する" %>
    <% end %>
  <% end %>
  <%#= paginate comment, theme: 'bootstrap-5' %>

</div>