<div class= "hedder">
  <div class= "row">

    <div class="col-md-4 text-center d-flex text-white pl-5 mt-3">
      <div class=""><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-success mr-3 text-light" %></div>
      <div class=""><%= link_to "　投稿一覧　", admin_post_images_path, class:"btn btn-outline-success mr-3 text-light" %></div>
      <div class=""><%= link_to "ユーザ一覧", admin_users_path, class:"btn btn-outline-success text-light" %></div>
    </div>

    <div class="col-md-4 text-center text-white">
      <%= link_to root_path, class:"text-decoration-none" do %>
        <div class="d-flex justify-content-center">
          <div class="logo-1"><%= image_tag 'camb_hedlogo5.png', size: '70x70' %></div>
          <div class="hed-text text-white">CAMB</div>
          <div class="logo-1"><%= image_tag 'camb_hedlogo4.png', size: '70x70' %></div>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 text-center text-white mt-3">
      <h3 class="text-light">管理者でログイン中</h3>
    </div>

  </div>
</div>