<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'admin/users/header' %>

    <div class= "row">
      <div class="col-md-3 text-center text-white mt-4">
        <%= render 'admin/users/profile', user: @user, post_images: @post_images %>
      </div>

      <div class="col-md-9 text-white mt-2">
        <div class="d-flex">
          <h3 class="ml-5 mr-5"><%= @user.name %>の投稿一覧</h3>
          <%= paginate @post_images, theme: 'bootstrap-5' %>
        </div>
        <%= render 'admin/post_images/list', post_images: @post_images %>
      </div>
    </div>

  </div>
</div>