<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header', current_user: @current_user %>

    <div class= "row">
      <div class="col-md-6 text-center text-white mt-2 d-flex">
        <%= render 'public/search/user_search', search_u: @search_u %>
        <h3 class="ml-5">イイねした投稿一覧</h3>
      </div>
      <div class="col-md-3 text-white mt-2">
        <%= render 'public/search/post_search', search_p: @search_p %>
      </div>
      <div class="col-md-3 text-white mt-2">
        <%= paginate @favorites, theme: 'bootstrap-5' %>
      </div>
    </div>

    <div class= "row">
      <%= render 'public/users/profile', user: @current_user, post_images: @post_images %>

      <div class="col-md-9">
        <div class="d-flex flex-wrap">

          <% @favorites.each do |favorite| %>
            <div class="col-md-3">
              <div class="card mb-2" style="height: 320px; width: 240px;">
                <%= link_to post_image_path(favorite.post_image.id), class:"text-dark text-decoration-none" do %>
                  <%= image_tag favorite.post_image.get_image, size: "150x150", class: 'card-img-top' %>
                <% end %>
                <div class="card-body">
                  <%= link_to post_image_path(favorite.post_image.id), class:"text-dark text-decoration-none" do %>
                    <h5 class="card-title text-truncate" style="line-height:1rem"><%= favorite.post_image.title %></h5>
                    <p class="card-text text-truncate" style="line-height:1rem"><%= favorite.post_image.body %></p>
                    <!--<div>閲覧数: <%#= post_image.view_counts.count %></div> -->
                    <p class="card-text">
                      <div class="d-flex">
                        <div class="favorite_buttons" >
                          <%= render "public/favorites/favorite", post_image: favorite.post_image %>
                        </div>
                        <div class="mr-5 ml-4">
                          <i class="far fa-comment"></i>
                          <%= favorite.post_image.post_comments.count %>
                        </div>
                        <div>
                          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【#{ favorite.post_image.user.name }の投稿をシェア】%0a%0a#{ favorite.post_image.title }%0a%0a%23CAMB%20%23キャンプ%20%23キャンプライフ%0a気になったら見てね！", target: '_blank' do %>
                            <i class="fab fa-twitter" style='color: #3399FF;'></i>シェア
                          <% end %>
                        </div>
                      </div>
                    </p>
                  <% end %>
                </div>
                <h5 class="card-footer" onclick='window.location="<%= users_show_path(favorite.post_image.user.id) %>"' role="link">
                  <%= image_tag favorite.post_image.user.get_profile_image(30,30), class:"rounded-circle"; %>
                  <%= favorite.post_image.user.name %>
                </h5>
              </div>
            </div>
          <% end %>
          <% if @favorites.empty? %>
            <h5 class="text-light">------投稿がありません------</h5>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>