<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header', current_user: @current_user %>

    <div class= "row">
      <div class="col-md-3 text-center text-white mt-2">
        <div><%= render 'public/search/user_search', search_u: @search_u %></div>
        <div><%= render 'public/search/post_search', search_p: @search_p %></div>
        <%= render 'public/users/profile', user: @current_user, post_images: @post_images %>
      </div>

      <div class="col-md-9 text-white mt-2">
        <div class="d-flex">
          <h3 class="ml-5 pr-5">フォロー投稿一覧</h3>
          <%= paginate @posts, theme: 'bootstrap-5' %>
        </div>
        <%= render 'public/post_images/list', post_images: @posts %>
      </div>
    </div>
  </div>
</div>