<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header' %>

    <div class= "row">
      <div class="col-md-3 text-center text-white"></div>
      <div class="col-md-3 text-white mt-3 mb-3">
        <h3>検索結果</h3>
      </div>
      <div class="col-md-3 text-white mt-1">
      </div>
      <div class="col-md-3 text-white mt-1">
        <%#= paginate @user, theme: 'bootstrap-5' %>
      </div>
    </div>

    <div class= "row">
      <%= render 'public/users/profile', user: current_user %>
      <div class="col-md-8 text-light">
        <% if @search_users.any? %>

          <table class="table text-white text-center">
            <thead>
              <tr>
                <th></th>
                <th>名前</th>
                <th>投稿数</th>
                <th>フォロー </th>
                <th>フォロワー</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @search_users.each do |user| %>
                <tr class="follow" onclick='window.location="<%= users_show_path(user.id) %>"' role="link">
                  <td><%= image_tag user.get_profile_image(30,30), class:"rounded-circle"; %></td>
                  <td><%= user.name %></td>
                  <td><%= user.post_images.count %></td>
                  <td><%= user.followings.count %></td>
                  <td><%= user.followers.count %></td>
                  <td>
                    <% if current_user.email == 'guest@exp.com' %>
                        <div class="btn btn-outline-success text-light">フォローする</div><br>
                    <% else %>
                      <% if current_user.following?(user) %>
                        <div class=""><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class:"text-light btn btn-outline-success" %></div>
                      <% else %>
                        <div class=""><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"text-light btn btn-outline-success" %></div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>検索したユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>