<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header', current_user: @current_user %>

    <div class= "row">
      <div class="col-md-3 text-center text-white mt-2">
        <div><%= render 'public/search/user_search', search_u: @search_u %></div>
        <div><%= render 'public/search/post_search', search_p: @search_p %></div>
      </div>

      <div class="col-md-5 text-white mt-2">
        <h3 class="ml-2"><%= @user.name %>の投稿一覧</h3>
      </div>

      <div class="col-md-4 text-white mt-2">
        <%= paginate @post_images, theme: 'bootstrap-5' %>
      </div>
    </div>

    <div class= "row">
      <%= render 'public/users/profile', user: @user, post_images: @post_images %>
      <%= render 'public/post_images/list', post_images: @post_images %>
    </div>

  </div>
</div>